@font-face {
  font-family: "iconfont"; /* Project id 2701765 */
  src: url('iconfont.woff2?t=1627974261215') format('woff2'),
       url('iconfont.woff?t=1627974261215') format('woff'),
       url('iconfont.ttf?t=1627974261215') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin1:before {
  content: "\e65b";
}

.icon-wodehaoyou:before {
  content: "\e7c1";
}

.icon-lingdang:before {
  content: "\e624";
}

.icon-bofangye-gengduo-mianliuliang:before {
  content: "\e628";
}

.icon-zan2:before {
  content: "\e602";
}

.icon-down:before {
  content: "\e649";
}

.icon-up:before {
  content: "\e87b";
}

.icon-liuliang:before {
  content: "\e620";
}

.icon-shangcheng:before {
  content: "\e672";
}

.icon-CombinedShape:before {
  content: "\e60d";
}

.icon-huiyuan:before {
  content: "\e670";
}

.icon-shizhong:before {
  content: "\e62e";
}

.icon-saoyisao:before {
  content: "\e68c";
}

.icon-fujinderen:before {
  content: "\e659";
}

.icon-yejian:before {
  content: "\e61c";
}

.icon-tinggeshiqu:before {
  content: "\e601";
}

.icon-xiaoxi:before {
  content: "\e695";
}

.icon-shezhi:before {
  content: "\e622";
}

.icon-pifu:before {
  content: "\e65a";
}

.icon-icon-icon-test:before {
  content: "\e63a";
}

.icon-qinggan:before {
  content: "\e6f2";
}

.icon-clock:before {
  content: "\e600";
}

.icon-shuimian:before {
  content: "\e687";
}

.icon-shangyiji:before {
  content: "\e691";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-bofang:before {
  content: "\e604";
}

.icon-zanting1:before {
  content: "\e60c";
}

.icon-laba:before {
  content: "\e62d";
}

.icon-xunhuan:before {
  content: "\e7b1";
}

.icon-icon-:before {
  content: "\e614";
}

.icon-SanMiAppoutlinei:before {
  content: "\e696";
}

.icon-SanMiAppoutlinei1:before {
  content: "\e697";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-search:before {
  content: "\e67d";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-arrow-left-filling:before {
  content: "\e68a";
}

.icon-arrow-right-filling:before {
  content: "\e68b";
}

.icon-xunhuan1:before {
  content: "\e61f";
}

.icon-random:before {
  content: "\ea7c";
}

.icon-zujian-icon-32:before {
  content: "\e607";
}

.icon-gengduo:before {
  content: "\e631";
}

.icon-shanchu1:before {
  content: "\e615";
}

.icon-aixin:before {
  content: "\e61b";
}

.icon-ico_zanting_xuanzhong:before {
  content: "\e612";
}

